<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="titulo" [(ngModel)]="game.titulo" placeholder="Titulo" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="extension" [(ngModel)]="game.extension" placeholder="extension" class="form-control">
        </div>
        <div class="form-group">
          <textarea name="description" rows="2" placeholder="Descripcion" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image URL" [(ngModel)]="game.image" placeholder="Imagen" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
  <img [src]="game.image == '' ? '/assets/noimage.png' : game.image" alt="No Image" class="card-img-top">
    <h3>{{game.id_contenido}}. {{game.titulo == '' ? 'Titulo' : game.titulo}}</h3>
    <p>{{game.extension == '' ? 'Escriba una extension' : game.extension}}</p>
    <p>{{game.fec_publicacion | date: 'dd-MM-yyyy'}}</p>
  </div>
</div>