<div class="col-md-4 ">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="edit ? updateGame() : saveNewGame()" #forma="ngForm">
        <div class="form-group">
          <input type="text" name="titulo" [(ngModel)]="game.titulo" placeholder="Titulo" class="form-control" autofocus
            required minlength="5" maxlength="45">
        </div>

        <select [(ngModel)]="game.extension" class="form-control" type="ext" name="ext">
          <option *ngFor="let ext of extensiones" [value]="ext">
            {{ext}}
          </option>
        </select>

        <div class="form-group">
          <textarea [(ngModel)]="game.descripcion" name="descripcion" rows="2" placeholder="Descripcion" class="form-control" maxlength="45"></textarea>
        </div>
        
        <select [(ngModel)]="game.image" class="form-control" type="image" name="image">
            <option *ngFor="let image of imagenes" [value]="image.valor">
              {{image.nombre}}
            </option>
          </select>
        <div>
          <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button [disabled]="!save(forma)" type="submit" class="btn btn-primary btn-block mt-3">
                Guardar
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
    <img [src]="game.image == '' ? '/assets/noimage.png' : game.image" alt="No Image" class="card-img-top">
    <h3>{{game.id_contenido}}. {{game.titulo == '' ? 'Titulo' : game.titulo}}</h3>
    <p>{{game.extension == '' ? 'Escriba una extension' : game.extension}}</p>
    <p>{{game.fec_publicacion | date: 'dd-MM-yyyy'}}</p>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
    <h3>Selecione Archivos</h3>
    <div appNgDropFiles class="well drop-zone" (mouseOver)=" estaSobreDrop=$event "
      [ngClass]="{ 'file-over': estaSobreDrop }">
      <h4>Deje caer aquí los archivos</h4>
      <img src="assets/drop-images.png">
    </div>
    <div *ngIf="archivo">
      <tr>
        {{ archivo.nombreArchivo }}
      </tr>
      <tr>
        {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB
      </tr>
      <tr>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
        </div>
      </tr>
    </div>


  </div>
</div>