<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->

<!-- <h1>Date Range filter in Date Of Birth Column only</h1> -->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <form class="date-block" [formGroup]="filterForm">
          <div class="date-block__list">
            <mat-form-field>
              <input matInput [matDatepicker]="fromDate" placeholder="Desde" formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="date-block__list">
            <mat-form-field>
              <input matInput [matDatepicker]="toDate" placeholder="Hasta" formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
          <button [disabled]="!puedoFiltrar()" mat-button color="primary" class="primary"
            (click)="applyFilter()">Filtrar</button>
        </form>
        <div *ngIf="!puedoFiltrar()">
          <p class="alert alert-danger">Verifique las fechas ingresadas</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <mat-form-field>
          <mat-select placeholder="extension" [(ngModel)]="seleccionada" (selectionChange)="select(seleccionada)"
            name="extension">
            <mat-option *ngFor="let op of extensiones" [value]="op.valor">
              {{op.muestraValor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <input (keyup)="onKey($event)" [(ngModel)]="values" placeholder="ingrese titulo a buscar">
    </div>
  </div>
</div>
<div class="row mt-2">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id_contenido">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id_contenido}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="extension">
      <th mat-header-cell *matHeaderCellDef> Extensión </th>
      <td mat-cell *matCellDef="let element"> {{element.extension}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fec_publicacion">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fec_publicacion | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Founded Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let element"> <img style="height:50px;" src="{{element.image}}" alt="Preview">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>