<div class="col-md-3" *ngFor="let game of games">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{game.titulo}}
      <button class="btn btn-danger" (click)="deleteGame(game.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img class="card-img-top" style="height:160px;" [src]="game.image">
    <div class="card-body">
      <p>{{game.extension}}</p>
      <p>Creado el {{game.fec_publicacion}}</p>
      <a [routerLink]="['/contenido/edit', game.id_contenido]" class="btn btn-primary btn-block">
        Editar
      </a>
    </div>
  </div>
</div>